<!--{template header}-->    
<body id="main">
        <div class="ui fixed  inverted  menu">
            <div class="title item">
                <div class="ui tiny header">{$setting['site_name']}</div>
            </div>
            <div class="right menu">
                <a class="icon item" href="{url question/search}">
                    <i class="search link icon"></i>
                </a>
                <a class="icon item" href="{url question/add}">
                    <i class="small inverted teal circular question link icon"></i>
                </a>
            </div>
        </div>
    <!--{template navigation}-->
        <div class="ui column grid">
            <div class="column">
                <h5 class="ui header">大家正在问 </h5>
                <div class="ui comments">
                    <!--{loop $questionlist $index $question}-->
                    <div class="comment">
                        <a class="avatar">
                            <img src="{$question['avatar']}">
                        </a>
                        <div class="content">
                            <a class="author" href="{url user/space/$question['authorid']}">{$question['author']}</a>
                            <div class="metadata">
                                <div class="date">{$question['format_time']}</div>
                            </div>
                            <div class="text">{if in_array($question['status'],array(2,6))}<i class="Checkmark red icon"></i>{/if}<a  href="{url question/view/$question['id']}" title="{$question['title']}">{eval echo cutstr($question['title'],80);}</a></div>
                            <div class="actions">{$question['answers']} 个回答 • {$question['views']} 次浏览 • {$question['category_name']}</div>
                        </div>
                    </div>
                    <!--{/loop}-->
                </div>
            </div>
        </div>
        <div class="ui pagination menu">{$departstr}</div>
    </body>
</html>