<!--{template header}-->
<body id="main">
    <div class="ui fixed  inverted  menu">
        <a class="icon item" href="{SITE_URL}">
            <i class="large Angle Left link icon"></i>
        </a>
        <div class="title item" href="ask.html">
            <div class="ui tiny header">查看问题</div>
        </div>
        <div class="right menu">
            <a class="icon item" href="search.html">
                <i class="search link icon"></i>
            </a>
            <a class="icon item" href="ask.html">
                <i class="small inverted teal circular question link icon"></i>
            </a>
        </div>
    </div>
    <div class="ui column grid">
        <div class="column">
            <div class="ui vertical"  style="margin-top: 10px;">
                <h5 class="ui header">{if in_array($question['status'],array(2,6))}<i class="Checkmark red icon"></i>{else}<i class="question teal icon"></i>{/if}{$question['title']}</h5>
                {$question['description']}
                <!--{loop $supplylist $supply}-->
                <div class="sub header">问题补充 : {$supply['format_time']}</div>
                {$supply['content']}
                <!--{/loop}-->
                <p><a class="author" href="{url user/space/$question['authorid']}">{$question['author']}</a>  发表于 {$question['format_time']} • {$question['answers']} 个回答 • {$question['views']} 次浏览 • {$question['category_name']}</p>
                <!--{if $question['status']==1}-->
                <!--{if $question['authorid']!=$user['uid']}-->
                <div class="yellow ui message">回答该问题即可获得 <b>{$setting['credit1_answer']}</b> 经验值{if $setting['credit2_answer']} + <b>{$setting['credit2_answer']}</b> 财富值{/if}，问题被采纳即可获得 <b>{$setting['credit1_answer']}</b> 经验值{if $setting['credit2_answer'] || $question['price']} + <b>{eval echo ($setting['credit2_answer']+$question['price'])}</b> 财富值{/if}！</div>
                <!--{/if}-->
                <h5 class="ui header">我来回答</h5>
                <form class="ui reply form">
                    <div class="field">
                        <textarea></textarea>
                    </div>
                    <div class="ui fluid button teal submit ">
                        提交回答
                    </div>
                </form>
                <!--{/if}-->
                <!--{if in_array($question['status'],array(2,6))}-->
                <h4 class="ui top attached header"><i class="Trophy red icon"></i>最佳答案</h4>
                <div class="ui segment attached">
                    {$bestanswer['content']}
                    <div class="ui comments">
                        <div class="comment">
                            <a class="avatar"><img src="{$bestanswer['author_avartar']}" alt="{$bestanswer['author']}" /></a>
                            <div class="content">
                                <a class="author" href="{url user/space/$bestanswer['authorid']}">{$bestanswer['author']}</a>
                                <div class="metadata">
                                    <div class="date"> 超级管理员 | {$bestanswer['format_time']} </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--{/if}-->
            </div>
            <h5 class="ui header">全部回答</h5>
            <div class="ui comments ">
                <!--{loop $answerlist $index $answer}-->
                <div class="comment">
                    <a class="avatar">
                        <img src="{$answer['author_avartar']}" alt="{$answer['author']}" />
                    </a>
                    <div class="content">
                        <a class="author" href="{url user/space/$answer['authorid']}">{$answer['author']}</a>
                        <div class="metadata">
                            <div class="date">{$answer['time']}</div>
                        </div>
                        <div class="text">{$answer['content']}</div>
                    </div>
                </div>
                <!--{/loop}-->
            </div>
            <div class="ui pagination menu">{$departstr}</div>
            <!--{if $solvelist}-->
            <h5 class="ui header">相关已解决</h5>
            <div class="ui comments ">
                <!--{loop $solvelist $solve}-->
                <div class="comment">
                    <div class="content">
                        <div class="text"><a  href="{url question/view/$solve['id']}" title="{$solve['title']}">{eval echo cutstr($solve['title'],80);}</a></div>
                    </div>
                </div>
                <!--{/loop}-->
            </div>
            <!--{/if}-->
        </div>
    </div>
</body>
</html>