<!--{template header}-->
<div class="wrapper clearfix">
    <div class="content-left">
        <div class="my-answerbox mt10">
            <div class="title">最新动态</div>
            <div id="qa-tabcard" style="width:690px;">
                <ul>
                    <li class="on">全站动态</li>
                    <li><a href="{url question/search/$word/2}">关注的动态</a></li>
                    <li><a href="{url question/search/$word/2}">我的动态</a></li>
                </ul>
            </div>
            <ul class="q-tabmod mt10">

                <li id="msg6181">
                    <div class="avatar">
                        <a class="pic" target="_blank" title="supermustang" href="http://localhost/tipask-phpask/u-36.html"><img src="http://localhost/tipask-phpask/css/default/avatar.gif" alt="自由的风"></a>
                    </div>
                    <div class="msgcontent">
                        <div class="source">
                            <a title="陈皓宇" class="zg-link" target="_blank" href="http://www.zhihu.com/people/chen-hao-yu" data-tip="p$t$chen-hao-yu">陈皓宇</a> 回答了该问题<span data-timestamp="1397705924000" class="time">8 小时前</span>
                        </div>
                        <div class="title"><a href="#">在爱情面前你能卑微到什么程度?</a></div>
                        <div class="detail"><p>难道我说的还不够清楚么难道我说的还不够清楚么难道我说的还不够清楚么难道我说的还不够清楚么难道我说的还不够清楚么难道我说的还不够清楚么难道我说的还不够清楚么</p></div>
                        <div class="related">
                            <div class="pv">2 人关注 <span class="dot">•</span> 1 个回答 <span class="dot">•</span> 20 次浏览 <span class="dot">•</span>发表于 2 分钟前 </div>
                        </div>
                    </div>
                    <div class="clr"></div>
                </li>
                <li id="msg6181">
                    <div class="avatar">
                        <a class="pic" target="_blank" title="supermustang" href="http://localhost/tipask-phpask/u-36.html"><img src="http://localhost/tipask-phpask/css/default/avatar.gif" alt="自由的风"></a>
                    </div>
                    <div class="msgcontent">
                        <div class="source">
                            <a title="陈皓宇" class="zg-link" target="_blank" href="http://www.zhihu.com/people/chen-hao-yu" data-tip="p$t$chen-hao-yu">陈皓宇</a> 回答了该问题<span data-timestamp="1397705924000" class="time">8 小时前</span>
                        </div>
                        <div class="title"><a href="#">在爱情面前你能卑微到什么程度?</a></div>
                        <div class="detail"><p>难道我说的还不够清楚么难道我说的还不够清楚么难道我说的还不够清楚么难道我说的还不够清楚么难道我说的还不够清楚么难道我说的还不够清楚么难道我说的还不够清楚么</p></div>
                        <div class="related">
                            <div class="pv">2 人关注 <span class="dot">•</span> 1 个回答 <span class="dot">•</span> 20 次浏览 <span class="dot">•</span> 发表于 2 分钟前</div>
                        </div>
                    </div>
                    <div class="clr"></div>
                </li>
                <li id="msg6181">
                    <div class="avatar">
                        <a class="pic" target="_blank" title="supermustang" href="http://localhost/tipask-phpask/u-36.html"><img src="http://localhost/tipask-phpask/css/default/avatar.gif" alt="自由的风"></a>
                    </div>
                    <div class="msgcontent">
                        <div class="source">
                            <a title="陈皓宇" class="zg-link" target="_blank" href="http://www.zhihu.com/people/chen-hao-yu" data-tip="p$t$chen-hao-yu">陈皓宇</a> 关注该问题<span class="time">8 小时前</span>
                        </div>
                        <div class="title"><a href="#">如何在中国的足球圈内求职谋生？</a></div>
                        <div class="related">
                            <div class="pv">2 人关注 <span class="dot">•</span> 1 个回答 <span class="dot">•</span> 20 次浏览 <span class="dot">•</span> 发表于 2 分钟前</div>
                        </div>
                    </div>
                    <div class="clr"></div>
                </li>
                <li id="msg6181">
                    <div class="avatar">
                        <a class="pic" target="_blank" title="supermustang" href="http://localhost/tipask-phpask/u-36.html"><img src="http://localhost/tipask-phpask/css/default/avatar.gif" alt="自由的风"></a>
                    </div>
                    <div class="msgcontent">
                        <div class="source">
                            <a title="陈皓宇" class="zg-link" target="_blank" href="http://www.zhihu.com/people/chen-hao-yu" data-tip="p$t$chen-hao-yu">陈皓宇</a> 赞同该回答<span data-timestamp="1397705924000" class="time">8 小时前</span>
                        </div>
                        <div class="title"><a href="#">在爱情面前你能卑微到什么程度?</a></div>
                        <div class="detail"><p>难道我说的还不够清楚么难道我说的还不够清楚么难道我说的还不够清楚么难道我说的还不够清楚么难道我说的还不够清楚么难道我说的还不够清楚么难道我说的还不够清楚么 <a href="#">查看全部</a></p></div>
                        <div class="related">
                            <div class="pv">2 人关注 <span class="dot">•</span> 1 个回答 <span class="dot">•</span> 20 次浏览 <span class="dot">•</span> 发表于 2 分钟前</div>
                        </div>
                    </div>
                    <div class="clr"></div>
                </li>
                <li id="msg6181">
                    <div class="avatar">
                        <a class="pic" target="_blank" title="supermustang" href="http://localhost/tipask-phpask/u-36.html"><img src="http://localhost/tipask-phpask/css/default/avatar.gif" alt="自由的风"></a>
                    </div>
                    <div class="msgcontent">
                        <div class="source">
                            <a title="陈皓宇" class="zg-link" target="_blank" href="http://www.zhihu.com/people/chen-hao-yu" data-tip="p$t$chen-hao-yu">陈皓宇</a> 赞同该回答<span data-timestamp="1397705924000" class="time">8 小时前</span>
                        </div>
                        <div class="title"><a href="#">在爱情面前你能卑微到什么程度?</a></div>
                        <div class="related">
                            <div class="pv">2 人关注 <span class="dot">•</span> 1 个回答 <span class="dot">•</span> 20 次浏览 <span class="dot">•</span> 发表于 2 分钟前</div>
                        </div>
                        <div class="quote">
                            <div class="avatar">
                                <a href="http://localhost/tipask-phpask/u-36.html" title="supermustang" target="_blank" class="pic"><img alt="自由的风" src="http://localhost/tipask-phpask/css/default/avatar.gif"></a>
                            </div>
                            <div class="detail"><p>难道我说的还不够清楚么难道我说的还不够清楚么难道我说的还不够清楚么难道我说的还不够清楚么难道我说的还不够清楚么难道我说的还不够清楚么难道我说的还不够清楚么</p></div>
                        </div>
                    </div>
                    <div class="clr"></div>
                </li>
            </ul>
        </div>	
        <div class="pages">{$departstr}</div>	
    </div>

    <div class="aside-right">
        <div class="modbox mt10">
            <div class="title">专家最新解答</div>
            <ul class="list">
                <!--{loop $questionlist $question}-->
                <li><a title="{$question['title']}" target="_blank" href="{url question/view/$question['qid']}">{eval echo cutstr($question['title'],30,'');}</a></li>
                <!--{/loop}-->
            </ul>
        </div>	
    </div>
</div>
<!--{template footer}-->
