<!--{template header}-->
<div class="wrapper mt10 clearfix">
    <!--{template user_menu}-->
    <div class="user-content">
        <div class="my-answerbox">
            <div class="mod-status-info">
                <div class="hd">
                    <h3>TA的资料</h3>
                </div>
                <div class="bd">
                    <div class="status-data clearfix">
                        <ul>
                            <li class="item"><em>863</em><span>回答</span></li>
                            <li class="item"><em>2</em><span>提问</span></li>
                            <li class="item"><em>92%</em>采纳率</li>
                            <li class="item"><em>3593</em><span>帮助人数</span></li>
                            <li class="item last"><em>80</em><span>赞</span></li>
                        </ul>
                    </div>
                    <div class="expert-single-input clearfix">
                        
                    <p><label>来自：</label><i>河北一力律师事务所</i></p>
                    <p><label>专长：</label><i class="expert-field">婚姻家庭</i></p>
                    <p><label>手机：</label><i>13931776617</i></p>
                    <p><label>简介：</label><i><span class="intro-trunc">专职婚姻家庭律师，从事婚姻家庭业务研究与诉讼，承接全国范围内婚姻家庭纠纷案件，QQ：909795005</span></i></p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--{template footer}-->