<!--{template header}-->
<div class="wrapper mt10 clearfix">
    <!--{template space_menu}-->
    <div class="user-content">
        <div class="my-answerbox">
            <div class="mod-status-info">
                <div class="hd">
                    <h3>TA的资料</h3>
                </div>
                <div class="bd">
                    <div class="status-data clearfix">
                        <ul>
                            <li class="item"><em>{$user['answers']}</em><span>回答</span></li>
                            <li class="item"><em>{$user['questions']}</em><span>提问</span></li>
                            <li class="item"><em>{$adoptpercent}%</em>采纳率</li>
                            <li class="item"><em>{$adoptpercent}%</em>赞同</li>
                            <li class="item"><em>{$adoptpercent}%</em>经验</li>
                            <li class="item last"><em>80</em><span>财富</span></li>
                        </ul>
                    </div>
                    <div class="expert-single-input clearfix">
                        <p><label>擅长：</label><i>婚姻家庭</i><i>婚姻家庭</i><i>婚姻家庭</i></p>
                        <p><label>手机：</label><i>13931776617</i></p>
                        <p><label>qq：</label><i>13931776617</i></p>
                        <p><label>身份：</label><i>13931776617</i></p>
                        <p><label>介绍：</label><i><span>专职婚姻家庭律师，从事婚姻家庭业务研究与诉讼，承接全国范围内婚姻家庭纠纷案件，QQ：909795005</span></i></p>
                    </div>
                    <div class="ask-box clearfix">
                        <input type="text" class="tag-input" />
                        <input type="submit" name="submit" class="normal-button" value="向TA提问"  />
                    </div>
                </div>
            </div>
            <div class="mod-status-info">
                <div class="hd">
                    <h3>TA的动态</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<!--{template footer}-->